.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
cpp_native/**
scripts/**
build/**
test-files/**
.github/**
.husky/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
MARKETPLACE_TODO.md
CONTRIBUTING.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
